@charset "UTF-8";
/* Colores de fondo */
/* Colores de fuente */
/* Fuentes */
/* Ancho galería */
/* Estilo botones */
.boton--menu, .boton--comprar, #enviar {
  border-radius: 10px;
  padding: 2px;
  margin: 0 10px;
  border: none;
  height: 50px;
  transition: all .2s;
  background-color: chartreuse; }
  .boton--menu:hover, .boton--comprar:hover, #enviar:hover {
    background-color: limegreen; }

.boton--agotado {
  border-radius: 10px;
  padding: 2px;
  margin: 0 10px;
  border: none;
  height: 50px;
  transition: all .2s;
  background-color: fuchsia; }
  .boton--agotado:hover {
    background-color: mediumorchid; }

/* Texto botones */
a div p, button, input[type='submit'] {
  margin-top: 8px;
  font-size: 18px;
  color: black;
  font-family: "Michroma";
  font-weight: bold;
  align-items: center; }

/* Botones nav */
nav ul li {
  width: 18%; }

/* Botón form */
input[type='submit'] {
  width: 120px; }

/* Botones tabla */
td button {
  width: 70%; }

@media only screen and (max-width: 600px) {
  /* Estilo botones */
  .boton--menu, .boton--comprar, .boton--agotado {
    height: 30px;
    width: 100%;
    margin: 0; }
  /* Texto botones del nav y form */
  a div p, input[type='submit'] {
    font-size: 14px;
    margin: 2px 0; }
  /* Botones tabla */
  td button {
    font-size: 8px;
    width: 80%;
    height: 30px; } }

/* Colores de fondo */
/* Colores de fuente */
/* Fuentes */
/* Ancho galería */
/* Reset css*/
* {
  margin: 0;
  padding: 0; }

/* Galería */
.galeria {
  display: grid;
  margin: 0 auto;
  width: 95%;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
  row-gap: 30px;
  justify-content: space-evenly; }

.galeria__div {
  width: 100%; }
  .galeria__div:hover {
    transform: scale(1.1, 1.1); }
    .galeria__div:hover div {
      opacity: 1;
      animation-name: img;
      animation-duration: .5s; }

.galeria__div img, .galeria iframe {
  width: calc(0.75 * 30vw);
  height: calc(0.75 * 30vw);
  margin: 0;
  box-shadow: 10px 0 15px black;
  border-radius: 12px;
  object-fit: cover;
  transition: all .2s;
  animation-name: img;
  animation-duration: 1s; }

.overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(0.75 * 30vw);
  opacity: 0;
  color: white;
  border-radius: 0 0 12px 12px;
  padding: 20px 0;
  max-height: 80px; }

/* Biografía */
.bio {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* Foto */ }
  .bio p {
    margin: 30px; }
  .bio img {
    width: 24%;
    object-fit: contain;
    animation-name: img;
    animation-duration: 2s; }

.table {
  width: 90%;
  margin: 0 auto; }

#comentario {
  height: 30px; }

li {
  display: inline;
  list-style-type: none; }

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0; }

body {
  text-align: center;
  background-image: linear-gradient(cornflowerblue, chartreuse);
  margin: 180px 0 130px; }

/* Títulos */
h1 {
  font-size: 60px;
  font-family: "Michroma"; }

h2 {
  color: fuchsia;
  font-size: 50px;
  margin-bottom: 10px;
  font-family: "Michroma"; }

h3 {
  font-size: 34px;
  margin: 10px 0 20px;
  font-family: "Michroma"; }

/* Texto */
p, a, label {
  font-size: 28px;
  font-family: Georgia;
  text-decoration: none; }

span p {
  text-align: justify; }

section {
  background-color: white;
  border-radius: 20px;
  width: 75%;
  padding: 16px 0 16px 0;
  margin: 0 auto;
  margin-top: 20px; }

/* Header y footer */
header, footer {
  background-color: black;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 30px fuchsia;
  z-index: 10; }

header {
  top: 0;
  /* Logo */ }
  header img {
    height: 70px;
    margin: 10px;
    animation-name: logo;
    animation-duration: 1s; }

footer {
  bottom: 0;
  padding: 20px;
  /* Copyright */ }
  footer ul {
    margin: 0; }
  footer p {
    margin: 0 auto;
    font-size: 14px;
    color: chartreuse; }

textarea {
  min-height: 200px; }

th, td {
  font-size: 24px;
  vertical-align: middle; }

/* Form contacto */
.form__div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .form__div input, .form__div textarea {
    margin: 0 15% 10px 10px;
    width: 50%; }

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; }

/* Íconos Bootstrap */
i {
  color: chartreuse;
  font-size: 32px;
  margin: 0 10px;
  transition: all .2s; }
  i:hover {
    color: limegreen; }

/* Videos y discografía */
.disco {
  display: flex;
  justify-content: space-around; }

iframe {
  margin: 20px;
  box-shadow: 10px 0 15px;
  width: 45%;
  height: 580px; }

@media only screen and (max-width: 600px) {
  .bio, .disco, nav {
    flex-direction: column;
    align-items: center;
    /* Nav */
    /* Foto biografía*/ }
    .bio ul, .disco ul, nav ul {
      margin: 0; }
      .bio ul li, .disco ul li, nav ul li {
        width: 90%;
        margin-bottom: 10px; }
    .bio img, .disco img, nav img {
      margin-bottom: -20px;
      height: 240px;
      width: 70%;
      object-fit: cover;
      object-position: top;
      border-bottom: 1px solid; }
  .galeria {
    grid-template-columns: 90%;
    justify-items: center;
    row-gap: 30px; }
  .galeria__div img, .galeria iframe, .overlay {
    width: calc(0.8 * 100vw);
    height: calc(0.8 * 100vw); }
  .table {
    width: 100%; }
  /* Form contacto */
  .form__div {
    flex-direction: column; }
    .form__div input, .form__div textarea {
      margin: 0 auto;
      width: 90%; }
  iframe {
    width: 90%; }
  /* Títulos */
  h1 {
    font-size: 34px; }
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 22px; }
  p, a, label {
    margin: 0;
    font-size: 20px;
    font-family: Georgia; }
  body {
    margin: 0; }
  header, footer {
    position: relative;
    /* Logo */ }
    header img, footer img {
      height: auto;
      width: 50%; }
  section {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px; }
  footer {
    padding: 4px;
    margin-top: 20px;
    /* Copyright */ }
    footer p {
      font-size: 12px; }
  th, td {
    font-size: 12px; } }

/* Animaciones */
@keyframes logo {
  from {
    margin-left: -50%;
    opacity: 0%; } }

@keyframes img {
  from {
    opacity: 0%; } }
