/* Colores de fondo */
$color1: chartreuse;
$color1_oscuro: limegreen;
$color2: fuchsia;
$color2_oscuro: mediumorchid;
$color3: cornflowerblue;

/* Colores de fuente */
$color_oscuro: black;
$color_claro: white;

/* Fuentes */
$fuente1: 'Michroma';
$fuente2: Georgia;

/* Ancho galería */
$ancho_foto1: calc(0.75 * 30vw);
$ancho_foto2: calc(0.8 * 100vw);